<template>
  <div class="about">
    <!-- <h1>This is an about page</h1> -->
    <div id="agreement-container">
      <h1>Kami menjaga semua informasi pribadi Anda.</h1>


      <h5 style="text-align: left;"> KEBIJAKAN PRIVASI</h5>
      <p>Privasi Anda adalah penting bagi kami. Kebijakan privasi ini mengungkapkan bagaimana kami mengumpulkan,
        melindungi, menggunakan, dan berbagi informasi yang dikumpulkan tentang Anda di dalam aplikasi ini. Kami mendorong
        Anda untuk membaca kebijakan ini dengan seksama. Kami berharap bahwa pengungkapan ini akan memberikan pemahaman
        yang jelas tentang bagaimana kami menangani informasi pribadi Anda. Dengan menggunakan aplikasi ini, Anda setuju
        dengan persyaratan dalam kebijakan privasi ini. Kebijakan privasi ini merupakan tambahan terhadap syarat dan
        ketentuan kami, dan kami mendorong anda untuk membacanya, karena dengan mengklik ok atau dengan menekan enter Anda
        menyatakan bahwa Anda juga tunduk terhadap kebijakan privasi kami.
        Kebijakan ini tidak mencakup segala sesuatu yang melekat dalam pengoperasian internet atau aplikasi, dan karena
        itu hal tersebut berada di luar kendali kami, dan pengoperasian internet/aplikasi tersebut tidak boleh ditetapkan
        dengan cara apapun yang bertentangan dengan hukum atau peraturan pemerintah yang berlaku.
      </p>
      <h5 style="text-align: left;">PERUBAHAN KEBIJAKAN</h5>
      <p>Kebijakan privasi ini dapat direvisi secara berkala, dimana detail perubahan terhadap kebijakan ini tidak akan
        diinformasikan secara langsung kepada para pengguna aplikasi. Tanggal dari kebijakan dicatat di bawah judul
        “Kebijakan Privasi” sebagaimana disebutkan di atas. Penggunaan Anda atas aplikasi ini setelah setiap perubahan
        pada kebijakan privasi akan diatur oleh kebijakan privasi yang telah direvisi tersebut.
      </p>
      <h5 style="text-align: left;">INFORMASI YANG KAMI KUMPULKAN</h5>
      <p>Anda bisa, secara terbatas, berselancar pada aplikasi ini dan melihat semua konten aplikasi ini tanpa harus
        menyerahkan data apapun, kecuali aplikasi Anda setuju untuk berpartisipasi dalam aplikasi ini secara interaktif.
      </p>
      <h5 style="text-align: left;">BAGAIMANA KAMI MENGGUNAKAN INFORMASI ANDA</h5>
      <p>Kami menggunakan informasi yang kami kumpulkan agar kami dapat lebih lagi meningkatkan pelayanan kepada Anda
        selama Anda berkunjung ke pabrik kami.
        Sebagai tambahan, kami juga menggunakan informasi ini untuk menyampaikan kampanye promosi perusahaan.</p>
      <h5 style="text-align: left;">KETENTUAN UMUM</h5>
      <p>Dalam membuat akun di dalam aplikasi. Anda tidak boleh memilih nama yang berupa kata-kata hinaan atau kata-kata
        ayng terlihat seperti pencemaran nama baik, tidak layak, penuh kebencian atau rasial atau menghina agama tertentu.
        Nama tersebut tidak boleh melanggar hak-hak dari orang lain atau perusahaan lain, ataupun yang meniru tokoh
        masyarakat tertentu.
        Dalam menggunakan aplikasi ini, Anda setuju bahwa Anda tidak memiliki hak kepemilikan apapun terhadap aplikasi
        ataupun bagian apapun dari aplikasi.
        Kami berhak untuk menghentikan sementara dan/atau menghapus akun Anda pada aplikasi.
        Pada saat proses registrasi Anda perlu untuk mendapatkan nama pengguna, kata kunci (password) dan alamat e-mail.
        Andan bertanggungjawab penuh terhadap password Anda.</p>


      <!-- <button onclick="acceptAgreement()">I Accept</button> -->
    </div>
  </div>
</template>

<style scoped>
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
}

h1 {
  text-align: center;
}

#agreement-container {
  max-width: 800px;
  margin: 0 auto;
}

p {
  text-align: justify;
}

button {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}
</style>