<template>
  <audio autoplay>
    <source src="@/assets/sound/join_quiz.mp3" type="audio/mpeg" />
  </audio>

  <div class="join">
    <div id="environment">
      <div id="content">
        <!-- <div id="awan"></div> -->
        <lottie-animation
          :speed="1"
          style="width: 1000; height: 200px"
          :loop="true"
          :auto-play="true"
          controls
          ref="anim"
          :animationData="cloudAnimation"
        />
        <section id="first"></section>
        <div class="form-code">
          <img src="@/assets/images/quiz.png" />
          <br />
          <input @keypress="play" v-model="code" placeholder="Enter PIN" type="text" />
          <br />
          <button @click="submit">Enter</button>
        </div>
        <section id="second"></section>
        <section id="third"></section>
        <section id="fourth"></section>
      </div>
    </div>
    <div id="scroll-proxy"></div>

    <VueLoading :active="loading" :can-cancel="false" :color="'#0AA94F'" :background-color="'#ffffff'" />
  </div>
</template>

<script setup>
import axios from "axios";
import buttonSfx from "../assets/sound/button.wav";
import environtment from "../environment/index";
import { useSound } from "@vueuse/sound";
import { ref, onMounted } from "vue";
import { useRouter } from "vue-router";
import { useStorage } from "vue3-storage";

import cloudAnimation from '@/assets/cloud.json';

const code = ref("");
const router = useRouter();
const storage = useStorage();
const { play, isPlaying } = useSound(buttonSfx);

const loading = ref(false);

const getAgencyData = async () => {
  if (router.currentRoute.value.query.id) {
    try {
      const response = await axios.post(environtment.url + "/api/tour/get-data-institusi", {
        id: router.currentRoute.value.query.id,
      });
      const data = response.data.data;
      storage.setStorageSync("code", data[0].code);
      storage.setStorageSync("site", data[0].site);
      storage.setStorageSync("agancy", data[0].institution_name);
      storage.setStorageSync("id", data[0].id);
      storage.setStorageSync("package", data[0].question_pack_id);
    } catch (error) {
      console.log(error);
    }
  }
};

onMounted(() => getAgencyData());

const submit = async () => {
  if (code.value === "") {
    // Use composition API, no need for this
    // this.$swal({
    //   icon: "warning",
    //   title: "Oops...",
    //   text: "Kode tidak boleh dikosongkan !",
    // });
    // Instead:
    // ...
  }

  loading.value = true

  try {
    const response = await axios.post(environtment.url + "/api/tour/join-quiz", {
      code: code.value,
    });

    console.log(response.data);
    // loader.hide();
    loading.value = false

    if (response.data.data.length > 0) {
      let data = response.data.data;
      storage.setStorageSync("code", data[0].code);
      storage.setStorageSync("site", data[0].site);
      storage.setStorageSync("agancy", data[0].institution_name);
      storage.setStorageSync("id", data[0].id);
      storage.setStorageSync("package", data[0].question_pack_id);

      router.push({ name: "sign" });
    } else {
      this.$swal({
        icon: "warning",
        title: "Oops...",
        text: "Quizz tidak ditemukan !",
      });
    }
  } catch (error) {
    console.log(error);
    // loader.hide();
    loading.value = false
  }
};

const onCancel = () => {
  console.log("User cancelled the loader.");
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400&display=swap");

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/********************
BASE STYLING
********************/

html,
body {
  height: 100%;
}

#content {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  background: #d9fcff;
}

/********************
MAGIC
********************/

#scroll-proxy {
  height: 4000px;
}

#content section {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  background-color: transparent;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#environment {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

#content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#first {
  background-image: url(@/assets/images/landscape/landscape1.svg);
  -webkit-transform: translate3d(0, 0, -11500px) scale(16);
  -moz-transform: translate3d(0, 0, -11500px) scale(16);
  -ms-transform: translate3d(0, 0, -11500px) scale(16);
  -o-transform: translate3d(0, 0, -11500px) scale(16);
  transform: translate3d(0, 0, -11500px) scale(16);
}

#second {
  background-image: url(@/assets/images/landscape/landscape2.svg);
  -webkit-transform: translate3d(0, 0, -24000px) scale(32);
  -moz-transform: translate3d(0, 0, -24000px) scale(32);
  -ms-transform: translate3d(0, 0, -24000px) scale(32);
  -o-transform: translate3d(0, 0, -24000px) scale(32);
  transform: translate3d(0, 0, -24000px) scale(32);
}

#third {
  background-image: url(@/assets/images/landscape/landscape3.svg);
  -webkit-transform: translate3d(0, 0, -48000px) scale(64);
  -moz-transform: translate3d(0, 0, -48000px) scale(64);
  -ms-transform: translate3d(0, 0, -48000px) scale(64);
  -o-transform: translate3d(0, 0, -48000px) scale(64);
  transform: translate3d(0, 0, -48000px) scale(64);
}

#fourth {
  background-image: url(@/assets/images/landscape/landscape4.svg);
  -webkit-transform: translate3d(0, 0, -64000px) scale(128);
  -moz-transform: translate3d(0, 0, -64000px) scale(128);
  -ms-transform: translate3d(0, 0, -64000px) scale(128);
  -o-transform: translate3d(0, 0, -64000px) scale(128);
  transform: translate3d(0, 0, -64000px) scale(128);
}

.create {
  font-size: 14px;
  color: white;
}
.create1 {
  font-size: 13px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
a:hover {
  text-decoration: underline;
}
.createcontainer {
  text-align: center;
}
.createcontainer2 {
  position: fixed;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

input {
  width: 222px;
  height: 37px;
  border: 2px #989a9b solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 0.3s;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
}

button {
  width: 238px;
  height: 50px;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 0.3s;
  background-color: #333333;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 8px #5c5c5c;
}

button:hover {
  transform: translateY(4px);
  box-shadow: 0 2px #5c5c5c;
}

input:focus {
  border: 2px black solid;
}

img {
  width: 355px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input[type="text"] {
  font-size: 1.25rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
}
input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #b5b5b5;
}

input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #b5b5b5;
}

input:-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #b5b5b5;
}

input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #b5b5b5;
}
input + button {
  margin-top: 8px;
}

#awan {
  position: fixed;
  top: 60px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -99;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background: url(@/assets/images/awan.png) center top repeat-x;
  padding-top: 100px;
  padding-bottom: 10px;
  width: 100%;
  height: 135px;
  animation: awan-animasi 10s linear infinite;
  -ms-animation: awan-animasi 10s linear infinite;
  -moz-animation: awan-animasi 10s linear infinite;
  -webkit-animation: awan-animasi 10s linear infinite;
}

@keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@-webkit-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@-ms-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@-moz-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}
</style>