<template>
  <div class="jss29">
    <div class="jss30 jss31">
      <div class="jss1">
        <div class="jss2 jss3" style="background-color: rgb(14, 55, 154)">
          <div class="rbkur">
            <h1 style="text-align: center">You are in</h1>
          </div>
          <br />
          <div class="jss4">
            <div class="jss5">
              <img v-bind:src="`${data.url + data.image_url}`" alt="Avatar" class="jss6" />
            </div>
          </div>
        </div>
        <div style="margin-top: 195px" class="jss7 jss8">
          <h1 class="jss9 mafont">{{ data.name }}</h1>
          <p class="jss10">{{ data.nickname }}</p>

          <div class="jss16">
            <div class="jss17 withIcon">
              <div class="jss18">
                <div class="jss19">
                  <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                    <path
                      d="M20 7h-4V5l-2-2h-4L8 5v2H4c-1.1 0-2 .9-2 2v5c0 .75.4 1.38 1 1.73V19c0 1.11.89 2 2 2h14c1.11 0 2-.89 2-2v-3.28c.59-.35 1-.99 1-1.72V9c0-1.1-.9-2-2-2zM10 5h4v2h-4V5zM4 9h16v5h-5v-3H9v3H4V9zm9 6h-2v-2h2v2zm6 4H5v-3h4v1h6v-1h4v3z">
                    </path>
                  </svg>
                </div>
              </div>
              <div class="jss20">
                <p class="jss21">{{ data.pro_agancy }}</p>
                <p class="jss22">{{ "Participant" }}</p>
              </div>
            </div>
            <div class="jss17 withIcon">
              <div class="jss18">
                <div class="jss19">
                  <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                    style="font-size: 24px">
                    <path
                      d="M16.18,21.3a5,5,0,0,1-3.53-1.46L4.16,11.35a5,5,0,0,1,0-7.07l.71-.7a3,3,0,0,1,4.24,0L11.23,5.7a3,3,0,0,1,0,4.24l-.6.6,2.83,2.83.6-.6a3,3,0,0,1,4.24,0l2.12,2.12a3,3,0,0,1,0,4.24l-.7.71A5,5,0,0,1,16.18,21.3ZM7,4.7A1,1,0,0,0,6.28,5l-.7.71a3,3,0,0,0,0,4.24l8.48,8.48a3,3,0,0,0,4.24,0l.71-.7a1,1,0,0,0,0-1.42l-2.12-2.12a1,1,0,0,0-1.42,0l-2,2L7.8,10.54l2-2a1,1,0,0,0,0-1.42L7.7,5A1,1,0,0,0,7,4.7Z">
                    </path>
                  </svg>
                </div>
              </div>
              <div class="jss20">
                <p class="jss21">{{ data.phone }}</p>
                <p class="jss22">Mobile Phone</p>
              </div>
            </div>
            <div class="jss17 withIcon">
              <div class="jss18">
                <div class="jss19">
                  <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                    style="font-size: 24px">
                    <path
                      d="M19,4H5A3,3,0,0,0,2,7V17a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V7A3,3,0,0,0,19,4Zm0,2h0l-5.84,5a1.89,1.89,0,0,1-2.34,0L5,6H19Zm0,12H5a1,1,0,0,1-1-1V7.79L9.53,12.5a3.91,3.91,0,0,0,4.94,0L20,7.79V17A1,1,0,0,1,19,18Z">
                    </path>
                    <path d="M7.29,13.29l-2,2a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l2-2a1,1,0,0,0-1.42-1.42Z"></path>
                    <path d="M16.71,13.29a1,1,0,0,0-1.42,1.42l2,2a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"></path>
                  </svg>
                </div>
              </div>
              <div class="jss20">
                <p class="jss21">{{ data.email }}</p>
                <p class="jss22">Email</p>
              </div>
            </div>

            <div class="jss17 withIcon">
              <div class="jss18">
                <div class="jss19">
                  <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                    style="font-size: 24px">
                    <path
                      d="M17.431,2.156h-3.715c-0.228,0-0.413,0.186-0.413,0.413v6.973h-2.89V6.687c0-0.229-0.186-0.413-0.413-0.413H6.285c-0.228,0-0.413,0.184-0.413,0.413v6.388H2.569c-0.227,0-0.413,0.187-0.413,0.413v3.942c0,0.228,0.186,0.413,0.413,0.413h14.862c0.228,0,0.413-0.186,0.413-0.413V2.569C17.844,2.342,17.658,2.156,17.431,2.156 M5.872,17.019h-2.89v-3.117h2.89V17.019zM9.587,17.019h-2.89V7.1h2.89V17.019z M13.303,17.019h-2.89v-6.651h2.89V17.019z M17.019,17.019h-2.891V2.982h2.891V17.019z">
                    </path>
                  </svg>
                </div>
              </div>
              <div class="jss20">
                <p class="jss21">{{ data.point }}</p>
                <p class="jss22">Score</p>
              </div>
            </div>
          </div>
          <button v-show="$data.isdone == 'yes'" @click="questionaire()" style="
                background-color: #008cba; /* Green */
                border: none;
                border-radius: 5px;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
              ">
            Questionnair
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import environtment from "../environment/index";
import axios from "axios";
import { useSound } from "@vueuse/sound";
import buttonSfx from "../assets/sound/button.wav";
import { useStorage } from "vue3-storage";
import { onMounted, onBeforeMount, ref, reactive, computed } from "vue";
import { useRouter } from "vue-router";
import io from "socket.io-client";

const { play, isPlaying } = useSound(buttonSfx);
const socket = io(environtment.socket);
const storage = useStorage();
const router = useRouter();

const isEditing = ref(false);

let object = {
  name: storage.getStorageSync("name"),
  nickname: storage.getStorageSync("nickname"),
  code: storage.getStorageSync("code"),
  id_participant: storage.getStorageSync("id_participant"),
  avatar: storage.getStorageSync("avatar"),
  id: storage.getStorageSync("id"),
  phone: storage.getStorageSync("phone_number"),
  email: storage.getStorageSync("email"),
};

socket.emit("sign", object);

socket.on("join", (msg) => {
  console.log(msg);
});

const data = reactive({
  url: environtment.urlImg,
  data: [],
  connection: null,
  pro_agancy: "",
  id_quiz: "",
  name: "",
  nickname: "",
  image_url: "",
  phone: "",
  email: "",
  point: 0,
  isEditing: false,
  isdone: "",
  tour_id: "",
});

onMounted(() => {
  socket.on("mulaiQuiz", (msg) => {
    console.log("pesan dari server", msg);

    if (data.tour_id === msg.id) {
      isEditing.value = true;
      router.push({ path: "/quiz" });
    }
  });

  console.log("play dipanggil");
  const storage = useStorage();
  data.pro_agancy = storage.getStorageSync("agancy");
  data.name = storage.getStorageSync("name");
  data.nickname = storage.getStorageSync("nickname");
  data.image_url = storage.getStorageSync("avatar");
  data.tour_id = storage.getStorageSync("id");
  data.phone = storage.getStorageSync("phone_number");
  data.email = storage.getStorageSync("email");
  data.point = storage.getStorageSync("score");
  data.isdone = storage.getStorageSync("isdone");
  console.log(data)
});

// onBeforeMount(() => {
//   window.addEventListener("beforeunload", (event) => {
//     if (isEditing.value == false) return;
//     event.preventDefault();
//     event.returnValue = "";
//   });
// });

// const isQuizEditing = computed(() => {
//   return isEditing.value && router.currentRoute.name === "quiz";
// });

// onBeforeRouteLeave((to, from) => {
//   if (!isQuizEditing.value) {
//     return next();
//   }
//   if (!window.confirm("Mau tinggalkan halaman ini ? data quiz tidak akan tersimpan")) {
//     return;
//   }
//   next();
// });

const questionaire = () => {
  console.log("berhasil");
  window.location.href = `https://myapps.aio.co.id/factoryvisitonline/pesertaadd.php?email_peserta=${data.email}&Nama=${data.name}`;
}
</script>
  
<style>
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lilita+One&display=swap");

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXjeu.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
</style>
<style data-jss="" data-meta="MuiCssBaseline">
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

strong,
b {
  font-weight: 700;
}

body {
  color: #220e27;
  margin: 0;
  font-size: 0.875rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.43;
  background-color: #fff;
}

@media print {
  body {
    background-color: #fff;
  }
}

body::backdrop {
  background-color: #fff;
}

ul {
  margin: 0;
  padding-inline-start: 0;
}

li {
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
  outline: 0;
  padding: 0;
  font-size: inherit;
  background: transparent;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

p {
  margin: 0;
  white-space: pre-wrap;
}

h1 {
  margin: 0;
  font-weight: 500;
  white-space: pre-wrap;
}

h2 {
  margin: 0;
  font-weight: 500;
  white-space: pre-wrap;
}

h3 {
  margin: 0;
  font-weight: 500;
  white-space: pre-wrap;
}

h4 {
  margin: 0;
  font-weight: 500;
  white-space: pre-wrap;
}

h5 {
  margin: 0;
  font-weight: 500;
  white-space: pre-wrap;
}

h6 {
  margin: 0;
  font-weight: 500;
  white-space: pre-wrap;
}

path.custom-color--circle-check-green {
  fill: #69df6a;
}
</style>
<style data-jss="" data-meta="MuiSvgIcon">
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.MuiSvgIcon-colorPrimary {
  color: #1d59f9;
}

.MuiSvgIcon-colorSecondary {
  color: #69df6a;
}

.MuiSvgIcon-colorAction {
  color: rgba(0, 0, 0, 0.54);
}

.MuiSvgIcon-colorError {
  color: #d5496c;
}

.MuiSvgIcon-colorDisabled {
  color: rgba(0, 0, 0, 0.26);
}

.MuiSvgIcon-fontSizeInherit {
  font-size: inherit;
}

.MuiSvgIcon-fontSizeSmall {
  font-size: 1.25rem;
}

.MuiSvgIcon-fontSizeLarge {
  font-size: 2.1875rem;
}
</style>
<style data-jss="" data-meta="MuiButtonBase">
.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.MuiButtonBase-root::-moz-focus-inner {
  border-style: none;
}

.MuiButtonBase-root.Mui-disabled {
  cursor: default;
  pointer-events: none;
}

@media print {
  .MuiButtonBase-root {
    -webkit-print-color-adjust: exact;
  }
}
</style>
<style data-jss="" data-meta="MuiSnackbar">
.MuiSnackbar-root {
  left: 8px;
  right: 8px;
  display: flex;
  z-index: 1400;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.MuiSnackbar-anchorOriginTopCenter {
  top: 8px;
}

@media (min-width: 660px) {
  .MuiSnackbar-anchorOriginTopCenter {
    top: 24px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}

.MuiSnackbar-anchorOriginBottomCenter {
  bottom: 8px;
}

@media (min-width: 660px) {
  .MuiSnackbar-anchorOriginBottomCenter {
    left: 50%;
    right: auto;
    bottom: 24px;
    transform: translateX(-50%);
  }
}

.MuiSnackbar-anchorOriginTopRight {
  top: 8px;
  justify-content: flex-end;
}

@media (min-width: 660px) {
  .MuiSnackbar-anchorOriginTopRight {
    top: 24px;
    left: auto;
    right: 24px;
  }
}

.MuiSnackbar-anchorOriginBottomRight {
  bottom: 8px;
  justify-content: flex-end;
}

@media (min-width: 660px) {
  .MuiSnackbar-anchorOriginBottomRight {
    left: auto;
    right: 24px;
    bottom: 24px;
  }
}

.MuiSnackbar-anchorOriginTopLeft {
  top: 8px;
  justify-content: flex-start;
}

@media (min-width: 660px) {
  .MuiSnackbar-anchorOriginTopLeft {
    top: 24px;
    left: 24px;
    right: auto;
  }
}

.MuiSnackbar-anchorOriginBottomLeft {
  bottom: 8px;
  justify-content: flex-start;
}

@media (min-width: 660px) {
  .MuiSnackbar-anchorOriginBottomLeft {
    left: 24px;
    right: auto;
    bottom: 24px;
  }
}
</style>
<style data-jss="" data-meta="MuiButton">
.MuiButton-root {
  color: rgba(0, 0, 0, 0.87);
  height: 56px;
  padding: 6px 16px;
  position: relative;
  font-size: 18px;
  min-width: 64px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.75;
  white-space: nowrap;
  border-radius: 28px;
  text-transform: none;
}

.MuiButton-root:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.04);
}

.MuiButton-root.Mui-disabled {
  color: rgba(0, 0, 0, 0.26);
}

@media (max-width: 1279.95px) {
  .MuiButton-root {
    height: 48px;
    font-size: 15px;
  }
}

@media (hover: none) {
  .MuiButton-root:hover {
    background-color: transparent;
  }
}

.MuiButton-root:hover.Mui-disabled {
  background-color: transparent;
}

.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.MuiButton-text {
  padding: 6px 8px;
}

.MuiButton-textPrimary {
  color: #1d59f9;
}

.MuiButton-textPrimary:hover {
  background-color: rgba(29, 89, 249, 0.04);
}

@media (hover: none) {
  .MuiButton-textPrimary:hover {
    background-color: transparent;
  }
}

.MuiButton-textSecondary {
  color: #69df6a;
}

.MuiButton-textSecondary:hover {
  background-color: rgba(105, 223, 106, 0.04);
}

@media (hover: none) {
  .MuiButton-textSecondary:hover {
    background-color: transparent;
  }
}

.MuiButton-outlined {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 5px 15px;
}

.MuiButton-outlined.Mui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-width: 1px;
}

.MuiButton-outlinedPrimary {
  color: #1d59f9;
  border: 2px solid #1d59f9;
  box-shadow: none;
  background-color: #fff;
}

.MuiButton-outlinedPrimary:hover {
  border: 1px solid #1d59f9;
  background-color: rgba(29, 89, 249, 0.04);
}

.MuiButton-outlinedPrimary:hover:not(.Mui-disabled) {
  border-color: #1043cb;
  border-width: 2px;
  background-color: #f8f8f9;
}

.MuiButton-outlinedPrimary:active:not(.Mui-disabled) {
  color: #1043cb;
  border-color: #1043cb;
  border-width: 2px;
  background-color: #eaeaec;
}

.MuiButton-outlinedPrimary.Mui-disabled {
  color: #96949c;
  border-color: #eaeaea;
  border-width: 2px;
  background-color: #eaeaea;
}

.MuiButton-outlinedPrimary.Mui-disabled:hover {
  background-color: #eaeaea;
}

@media (hover: none) {
  .MuiButton-outlinedPrimary:hover:not(.Mui-disabled) {
    border-color: #eaeaec;
  }
}

@media (hover: none) {
  .MuiButton-outlinedPrimary:hover {
    background-color: transparent;
  }
}

.MuiButton-outlinedSecondary {
  color: #69df6a;
  border: 1px solid rgba(105, 223, 106, 0.5);
}

.MuiButton-outlinedSecondary:hover {
  border: 1px solid #69df6a;
  background-color: rgba(105, 223, 106, 0.04);
}

.MuiButton-outlinedSecondary.Mui-disabled {
  border: 1px solid rgba(0, 0, 0, 0.26);
}

@media (hover: none) {
  .MuiButton-outlinedSecondary:hover {
    background-color: transparent;
  }
}

.MuiButton-contained {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
  background-color: #e0e0e0;
}

.MuiButton-contained:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: #d5d5d5;
}

.MuiButton-contained.Mui-focusVisible {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.MuiButton-contained:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.MuiButton-contained.Mui-disabled {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
}

.MuiButton-contained:hover,
.MuiButton-contained:active {
  box-shadow: none;
}

@media (hover: none) {
  .MuiButton-contained:hover {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
  }
}

.MuiButton-contained:hover.Mui-disabled {
  background-color: rgba(0, 0, 0, 0.12);
}

.MuiButton-containedPrimary {
  color: #fff;
  background-color: #1d59f9;
}

.MuiButton-containedPrimary:hover {
  background-color: #1043cb;
}

.MuiButton-containedPrimary:active {
  background-color: #3e73ff;
}

.MuiButton-containedPrimary.Mui-disabled {
  color: #fff;
  background-color: #eaeaec;
}

@media (hover: none) {
  .MuiButton-containedPrimary:hover {
    background-color: #1d59f9;
  }
}

.MuiButton-containedSecondary {
  color: #fff;
  box-shadow: none;
  background-color: #69df6a;
}

.MuiButton-containedSecondary:hover {
  background-color: #2bbea1;
}

.MuiButton-containedSecondary:focus {
  box-shadow: 0 2px 8px #69df6a;
  background-color: #69df6a;
}

.MuiButton-containedSecondary:active {
  background-color: #26ac91;
}

.MuiButton-containedSecondary.Mui-disabled {
  color: #fff;
  background-color: #96949c;
}

@media (hover: none) {
  .MuiButton-containedSecondary:hover {
    background-color: #69df6a;
  }
}

.MuiButton-disableElevation {
  box-shadow: none;
}

.MuiButton-disableElevation:hover {
  box-shadow: none;
}

.MuiButton-disableElevation.Mui-focusVisible {
  box-shadow: none;
}

.MuiButton-disableElevation:active {
  box-shadow: none;
}

.MuiButton-disableElevation.Mui-disabled {
  box-shadow: none;
}

.MuiButton-colorInherit {
  color: inherit;
  border-color: currentColor;
}

.MuiButton-textSizeSmall {
  padding: 4px 5px;
  font-size: 0.8125rem;
}

.MuiButton-textSizeLarge {
  padding: 8px 11px;
  font-size: 0.9375rem;
}

.MuiButton-outlinedSizeSmall {
  padding: 3px 9px;
  font-size: 0.8125rem;
}

.MuiButton-outlinedSizeLarge {
  padding: 7px 21px;
  font-size: 0.9375rem;
}

.MuiButton-containedSizeSmall {
  padding: 4px 10px;
  font-size: 0.8125rem;
}

.MuiButton-containedSizeLarge {
  padding: 8px 22px;
  font-size: 0.9375rem;
}

.MuiButton-sizeSmall {
  height: 40px;
  font-size: 15px;
}

.MuiButton-sizeLarge {
  height: 64px;
  font-size: 18px;
}

@media (max-width: 959.95px) {
  .MuiButton-sizeLarge {
    height: 48px;
    font-size: 15px;
  }
}

.MuiButton-fullWidth {
  width: 100%;
}

.MuiButton-startIcon {
  display: inherit;
  margin-left: -4px;
  margin-right: 10px;
}

.MuiButton-startIcon.MuiButton-iconSizeSmall {
  margin-left: -2px;
}

.MuiButton-endIcon {
  top: calc(50% - 9px);
  right: 16px;
  display: inherit;
  position: absolute;
  margin-left: 0;
  margin-right: 0;
}

.MuiButton-endIcon.MuiButton-iconSizeSmall {
  margin-right: -2px;
}

.MuiButton-endIcon.MuiButton-iconSizeLarge {
  right: 22px;
}

.MuiButton-iconSizeSmall>*:first-child {
  font-size: 18px;
}

.MuiButton-iconSizeMedium>*:first-child {
  font-size: 20px;
}

.MuiButton-iconSizeLarge>*:first-child {
  font-size: 22px;
}
</style>
<style data-jss="" data-meta="Button">
.jss39.jss40 {
  color: #1d59f9;
  border-color: #fe8e3e;
}

.jss39.jss41:not(.jss40) {
  color: #220e27;
  border-color: #eaeaec;
}

.jss39.jss41:not(.jss40):hover:not(:disabled),
.jss39.jss41:not(.jss40):active:not(:disabled) {
  color: #220e27;
  border-color: #96949c;
}

.jss39.jss41:not(.jss40):disabled {
  border-color: #eaeaec;
}

.jss39.jss41:not(.jss40):disabled:hover {
  color: #96949c;
  background-color: #eaeaec;
}

.jss39.jss40:hover:not(:disabled) {
  border-color: #fe8e3e;
}

.jss39.jss40:disabled {
  border-color: #1d59f9;
}

.jss39.jss40.jss41 {
  color: #220e27;
}

.jss39.jss40.jss41:disabled {
  border-color: #fe8e3e;
}

.jss44 {
  text-transform: uppercase;
}

.jss51 {
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -20px;
  margin-left: -20px;
}

.mafont {
  font-family: "Lilita One", cursive;
}

.rbkur {
  font-family: "Lilita One", cursive;
  position: absolute;
  background-color: wheat;
  width: 320px;
  margin-top: 32px;
  color: rgb(37, 37, 37);
}

.jss51.primary {
  color: #220e27;
}

.jss51.secondary {
  color: #69df6a;
}
</style>
<style data-jss="" data-meta="Button"></style>
<style data-jss="" data-meta="Button"></style>
<style data-jss="" data-meta="Button"></style>
<style data-jss="" data-meta="Button"></style>
<style data-jss="" data-meta="IconButton">
.jss32 {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100%;
}

.jss32.jss36 {
  border-radius: 8px;
}

.jss33 {
  color: #220e27;
  border-color: #96949c;
}

.jss33:hover {
  border-color: #68676c;
  background-color: #f8f8f9;
}

.jss33:active {
  color: #220e27;
  border-color: #220e27;
  background-color: #eaeaec;
}

@media (hover: none) {
  .jss33:hover {
    background-color: #fff;
  }
}

.jss34 {
  background-color: #220e27;
}

.jss34:hover {
  background-color: #68676c;
}

.jss34:active {
  background-color: #96949c;
}

@media (hover: none) {
  .jss34:hover {
    background-color: #220e27;
  }
}

.jss37 {
  top: 50%;
  left: 50%;
  color: #220e27;
  position: absolute;
  margin-top: -12.5px;
  margin-left: -12.5px;
}
</style>
<style data-jss="" data-meta="Preview-Container">
.jss29 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: white;
}

.jss29 {
  word-break: break-word;
}

.jss29>div {
  height: auto !important;
}
</style>
<style data-jss="" data-meta="Preview-Wrapper"></style>
<style data-jss="" data-meta="Preview-Wrapper"></style>
<style data-jss="" data-meta="Preview-Vcard">
.jss1 {
  width: 100%;
  padding-bottom: 20px;
}

.jss2 {
  width: 100%;
  height: 131px;
  display: flex;
  justify-content: center;
}

.jss3 {
  height: 10px;
}

.jss4 {
  width: 140px;
  border: 2px solid #eaeaec;
  bottom: -60px;
  height: 140px;
  display: flex;
  margin-top: 20px;
  position: relative;
  box-shadow: 0 4px 6px 0 #eaeaec;
  align-items: center;
  border-radius: 100%;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
}

.jss5 {
  width: 105px;
  height: 105px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 100%;
  flex-direction: row;
  justify-content: center;
}

.jss6 {
  max-width: 100%;
  max-height: 100%;
}

.jss7 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 97px;
  flex-direction: column;
  justify-content: center;
}

.jss8 {
  padding-top: 30px;
}

.jss9 {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 8px;
}

.jss10 {
  color: #68676c;
  font-size: 14px;
  text-align: center;
  line-height: 23px;
  margin-bottom: 36px;
}

.jss11 {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  flex-direction: row;
  justify-content: center;
}

.jss12 {
  display: inline-flex;
  min-width: 72px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.jss12+.jss12 {
  margin-left: 4px;
}

@media (min-width: 960px) {
  .jss12 {
    min-width: 90px;
  }

  .jss12+.jss12 {
    margin-left: 25px;
  }
}

.jss12.jss28 {
  min-width: 72px;
}

.jss12.jss28+.jss12.jss28 {
  margin-left: 4px;
}

.jss13 {
  border-radius: 4px !important;
}

.jss14 {
  font-size: 15px;
  margin-top: 4px;
  font-weight: 500;
  line-height: 30px;
}

.jss15 {
  width: 196px;
}

@media (min-width: 960px) {
  .jss15 {
    width: 288px;
  }
}

.jss15.jss28 {
  width: 196px;
}

.jss16 {
  /* width: calc(100% - 40px); */
  width: 390px;
  border: 1px solid #f8f8f9;
  box-shadow: 0 4px 6px 0 #eaeaec;
  border-radius: 8px;
  margin-bottom: 36px;
  background-color: #fff;
}

@media (min-width: 960px) {
  .jss16 {
    max-width: 388px;
  }
}

.jss17 {
  border-bottom: 1px solid #eaeaec;
}

.jss17:last-child {
  border-bottom: 0;
}

.jss17.summary {
  color: #68676c;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 23px;
}

.jss17.withIcon {
  display: flex;
  padding: 17px 22px 22px;
}

.jss17.centred {
  align-items: center;
}

.jss17.socials {
  display: flex;
  padding: 18px 20px 30px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.jss17.jss28.summary {
  padding: 20px;
}

.jss17.jss28.withIcon {
  padding: 17px 22px 22px;
}

.jss17.jss28.socials {
  padding: 18px 20px 30px;
}

@media (min-width: 960px) {
  .jss17.socials {
    padding: 32px 72px 44px;
  }
}

@media (min-width: 960px) {
  .jss17.withIcon {
    padding: 21px 28px 28px;
  }
}

@media (min-width: 960px) {
  .jss17.summary {
    padding: 40px;
  }
}

.jss18 {
  margin-right: 29px;
}

.jss19 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  flex-direction: row;
  justify-content: center;
  background-color: #f8f8f9;
}

.jss20 {
  padding-top: 1px;
}

.jss20.centred {
  padding-top: 0;
}

.jss21 {
  display: block;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 4px;
}

.jss22 {
  color: #96949c;
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 24px;
  text-align: left;
}

.jss22:last-child {
  margin-bottom: 0;
}

.jss23 {
  color: #1d59f9;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
}

@media (hover: hover) {
  .jss23:hover {
    text-decoration: underline;
  }
}

.jss23:active {
  text-decoration: underline;
}

.jss24 {
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 20px;
}

.jss26 {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  flex-direction: row;
  justify-content: center;
}

.jss26:last-child {
  margin-bottom: 0;
}

.jss27 {
  color: #fff;
  width: 44px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100%;
  flex-direction: row;
  justify-content: center;
}

.jss27+.jss27 {
  margin-left: 23px;
}

.jss27.facebook {
  background-color: #759dfe;
}

.jss27.twitter {
  background-color: #759dfe;
}

.jss27.instagram {
  background-color: #759dfe;
}
</style>
<style>
body {
  color: #220e27;
  margin: 0;
  font-size: 0.875rem;
  font-family: "Lilita One", cursive;
  font-weight: 400;
  line-height: 1.43;
  background-color: #fff;
}
</style>
  