<template>
  <!-- isLeaderBoardOn -->
  <div v-show="data.isLeaderBoardOn" class="luar">
    <div class="cangkang">
      <lottie-animation :speed="1" style="width: 100%; height: 100%;  position: absolute; z-index: 10;" :loop="true"
        :auto-play="true" controls ref="anim" :animationData="confettiAnimation" />
      <div class="cangkang__header">
        <div class="b_logo">
          <img
            src="https://images.vexels.com/media/users/3/135313/isolated/lists/9c44517fa04da541c35888362bce2d1b-award-trophy-icon.png"
            width="40" alt="" />
        </div>
        <div class="b_caption">
          <p>Otsuka Quizz <span>leaderboard</span></p>
        </div>
      </div>
      <div class="cangkang__content">
        <ul v-for="result in data.result_quiz" :key="result.Number">
          <li>
            <div class="graphic">
              <img v-bind:src="`${data.url + result.avatar}`" alt="" />
            </div>
            <div class="name">
              <span class="header">{{ result.nickname }}</span><span class="stat">{{ result.points
              }}</span><span class="sub"> Point</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- isWaitOn -->
  <div v-show="data.isWaitOn" class="hello">
    <ui-loader></ui-loader>
  </div>
  <!-- isQuizOn -->
  <!-- <div v-show="isQuizOn" class="bungkus" v-bind:style="{ 'background-image': 'url(' + bgImage + ')' }"> -->

  <div v-show="data.isQuizOn" class="bungkus" :style="{ backgroundImage: data.bgImage }">

    <!-- $data.Category -->
    <header>
      <span style="color: black; margin-left: 12px">{{ data.currentQuest }} of {{ data.total }}</span>
      <div class="middle">
        <span style="color: #46178f">Otsuka Quizz</span>
      </div>

      <span style="color: black" class="right">{{ data.num }} s</span>
    </header>

    <div class="content">
      <!-- untuk konten -->
      <div style="color: black; background-color: white; opacity: 0.9;" class="pertanyaan">
        <br />
        <div class="arkey">
          <h3 style="top: 100px">{{ data.question }}</h3>
        </div>

        <img class="steps" v-bind:src="`${data.url + '/' + data.urlquest}`" alt="" />
      </div>
      <div class="d-grid gap-2 col-12 mx-auto" v-for="choice in data.choices" :key="choice.Id">
        <span style="background-color: #4caf50" @click="answerQ(choice.IsRight)" class="choice" :style="data.isAnsweredDone == true
          ? choice.IsRight == true
            ? 'background-color: #4CAF50; color:white; opacity: 0.9;'
            : 'background-color: rgb(221, 26, 26); color:white;opacity: 0.9;'
          : 'background-color: white;opacity: 0.9;'
          ">
          <div class="pilihan">
            <p style="margin-top: 2px">{{ choice.No }}</p>
          </div>
          {{ choice.Choice_Desc }}
        </span>
      </div>
    </div>
    <!-- <div id="cube"></div> -->
    <!-- <div id="circle"></div> -->

    <footer>
      <span style="margin-left: 12px">{{ data.name }}</span>
      <span class="points">{{ data.point }} points</span>
    </footer>
  </div>
</template>
<script setup>
(window.HUB_EVENTS = {
  ASSET_ADDED: "ASSET_ADDED",
  ASSET_DELETED: "ASSET_DELETED",
  ASSET_DESELECTED: "ASSET_DESELECTED",
  ASSET_SELECTED: "ASSET_SELECTED",
  ASSET_UPDATED: "ASSET_UPDATED",
  CONSOLE_CHANGE: "CONSOLE_CHANGE",
  CONSOLE_CLOSED: "CONSOLE_CLOSED",
  CONSOLE_EVENT: "CONSOLE_EVENT",
  CONSOLE_OPENED: "CONSOLE_OPENED",
  CONSOLE_RUN_COMMAND: "CONSOLE_RUN_COMMAND",
  CONSOLE_SERVER_CHANGE: "CONSOLE_SERVER_CHANGE",
  EMBED_ACTIVE_PEN_CHANGE: "EMBED_ACTIVE_PEN_CHANGE",
  EMBED_ACTIVE_THEME_CHANGE: "EMBED_ACTIVE_THEME_CHANGE",
  EMBED_ATTRIBUTE_CHANGE: "EMBED_ATTRIBUTE_CHANGE",
  EMBED_RESHOWN: "EMBED_RESHOWN",
  FORMAT_FINISH: "FORMAT_FINISH",
  FORMAT_ERROR: "FORMAT_ERROR",
  FORMAT_START: "FORMAT_START",
  IFRAME_PREVIEW_RELOAD_CSS: "IFRAME_PREVIEW_RELOAD_CSS",
  IFRAME_PREVIEW_URL_CHANGE: "IFRAME_PREVIEW_URL_CHANGE",
  KEY_PRESS: "KEY_PRESS",
  LINTER_FINISH: "LINTER_FINISH",
  LINTER_START: "LINTER_START",
  PEN_CHANGE_SERVER: "PEN_CHANGE_SERVER",
  PEN_CHANGE: "PEN_CHANGE",
  PEN_EDITOR_CLOSE: "PEN_EDITOR_CLOSE",
  PEN_EDITOR_CODE_FOLD: "PEN_EDITOR_CODE_FOLD",
  PEN_EDITOR_ERRORS: "PEN_EDITOR_ERRORS",
  PEN_EDITOR_EXPAND: "PEN_EDITOR_EXPAND",
  PEN_EDITOR_FOLD_ALL: "PEN_EDITOR_FOLD_ALL",
  PEN_EDITOR_LOADED: "PEN_EDITOR_LOADED",
  PEN_EDITOR_REFRESH_REQUEST: "PEN_EDITOR_REFRESH_REQUEST",
  PEN_EDITOR_RESET_SIZES: "PEN_EDITOR_RESET_SIZES",
  PEN_EDITOR_SIZES_CHANGE: "PEN_EDITOR_SIZES_CHANGE",
  PEN_EDITOR_UI_CHANGE_SERVER: "PEN_EDITOR_UI_CHANGE_SERVER",
  PEN_EDITOR_UI_CHANGE: "PEN_EDITOR_UI_CHANGE",
  PEN_EDITOR_UI_DISABLE: "PEN_EDITOR_UI_DISABLE",
  PEN_EDITOR_UI_ENABLE: "PEN_EDITOR_UI_ENABLE",
  PEN_EDITOR_UNFOLD_ALL: "PEN_EDITOR_UNFOLD_ALL",
  PEN_ERROR_INFINITE_LOOP: "PEN_ERROR_INFINITE_LOOP",
  PEN_ERROR_RUNTIME: "PEN_ERROR_RUNTIME",
  PEN_ERRORS: "PEN_ERRORS",
  PEN_LIVE_CHANGE: "PEN_LIVE_CHANGE",
  PEN_LOGS: "PEN_LOGS",
  PEN_MANIFEST_CHANGE: "PEN_MANIFEST_CHANGE",
  PEN_MANIFEST_FULL: "PEN_MANIFEST_FULL",
  PEN_PREVIEW_FINISH: "PEN_PREVIEW_FINISH",
  PEN_PREVIEW_START: "PEN_PREVIEW_START",
  PEN_SAVED: "PEN_SAVED",
  POPUP_CLOSE: "POPUP_CLOSE",
  POPUP_OPEN: "POPUP_OPEN",
  POST_CHANGE: "POST_CHANGE",
  POST_SAVED: "POST_SAVED",
  PROCESSING_FINISH: "PROCESSING_FINISH",
  PROCESSING_START: "PROCESSED_STARTED",
}),
  "object" != typeof window.CP && (window.CP = {}),
  (window.CP.PenTimer = {
    programNoLongerBeingMonitored: !1,
    timeOfFirstCallToShouldStopLoop: 0,
    _loopExits: {},
    _loopTimers: {},
    START_MONITORING_AFTER: 2e3,
    STOP_ALL_MONITORING_TIMEOUT: 5e3,
    MAX_TIME_IN_LOOP_WO_EXIT: 2200,
    exitedLoop: function (E) {
      this._loopExits[E] = !0;
    },
    shouldStopLoop: function (E) {
      if (this.programKilledSoStopMonitoring) return !0;
      if (this.programNoLongerBeingMonitored) return !1;
      if (this._loopExits[E]) return !1;
      var _ = this._getTime();
      if (0 === this.timeOfFirstCallToShouldStopLoop)
        return (this.timeOfFirstCallToShouldStopLoop = _), !1;
      var o = _ - this.timeOfFirstCallToShouldStopLoop;
      if (o < this.START_MONITORING_AFTER) return !1;
      if (o > this.STOP_ALL_MONITORING_TIMEOUT)
        return (this.programNoLongerBeingMonitored = !0), !1;
      try {
        this._checkOnInfiniteLoop(E, _);
      } catch (N) {
        return (
          this._sendErrorMessageToEditor(),
          (this.programKilledSoStopMonitoring = !0),
          !0
        );
      }
      return !1;
    },
    _sendErrorMessageToEditor: function () {
      try {
        if (this._shouldPostMessage()) {
          var E = {
            topic: HUB_EVENTS.PEN_ERROR_INFINITE_LOOP,
            data: { line: this._findAroundLineNumber() },
          };
          parent.postMessage(E, "*");
        } else this._throwAnErrorToStopPen();
      } catch (_) {
        this._throwAnErrorToStopPen();
      }
    },
    _shouldPostMessage: function () {
      return document.location.href.match(/boomboom/);
    },
    _throwAnErrorToStopPen: function () {
      throw "We found an infinite loop in your Pen. We've stopped the Pen from running. More details and workarounds at https://blog.codepen.io/2016/06/08/can-adjust-infinite-loop-protection-timing/";
    },
    _findAroundLineNumber: function () {
      var E = new Error(),
        _ = 0;
      if (E.stack) {
        var o = E.stack.match(/boomboom\S+:(\d+):\d+/);
        o && (_ = o[1]);
      }
      return _;
    },
    _checkOnInfiniteLoop: function (E, _) {
      if (!this._loopTimers[E]) return (this._loopTimers[E] = _), !1;
      var o;
      if (_ - this._loopTimers[E] > this.MAX_TIME_IN_LOOP_WO_EXIT)
        throw "Infinite Loop found on loop: " + E;
    },
    _getTime: function () {
      return +new Date();
    },
  }),
  (window.CP.shouldStopExecution = function (E) {
    var _ = window.CP.PenTimer.shouldStopLoop(E);
    return (
      !0 === _ &&
      console.warn(
        "[CodePen]: An infinite loop (or a loop taking too long) was detected, so we stopped its execution. More details at https://blog.codepen.io/2016/06/08/can-adjust-infinite-loop-protection-timing/"
      ),
      _
    );
  }),
  (window.CP.exitedLoop = function (E) {
    window.CP.PenTimer.exitedLoop(E);
  });

const template = `
    <style>
        :host {
            --size: 40px;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #41B884;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .isometric {
            position: relative;
            transform: rotateX(55deg) rotateZ(-45deg) translate(calc(var(--size) * -2), 0);
            margin-bottom: calc(3 * var(--size));
        }
        .box {
            position: absolute;
            width: var(--size);
            height: var(--size);
            background: #f9ae57;
            animation: slide .9s cubic-bezier(.65,.53,.59,.93) infinite;
        }
        .box:before, .box:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .box:before {
            background: #040571;
            transform: skew(0deg, -45deg);
            right: 100%;
            top: 50%;
        }
        .box:after {
            background: #ff5e62;
            transform: skew(-45deg, 0deg);
            top: 100%;
            right: 50%;
        }
        .box:nth-child(1) {
            --sx: 50%;
            --sy: -50%;
            --ex: 150%;
            --ey: 50%;
        }
        .box:nth-child(2) {
            --sx: -50%;
            --sy: -50%;
            --ex: 50%;
            --ey: -50%;
        }
        .box:nth-child(3) {
            --sx: 150%;
            --sy: 50%;
            --ex: 50%;
            --ey: 50%;
        }
        .box:nth-child(4) {
            --sx: 50%;
            --sy: 50%;
            --ex: -50%;
            --ey: -50%;
        }
        h1 {
            color: #06067e;
        }
        span {
            color: transparent;
            position: relative;
        }
        span:before {
            content: ".";
            position: absolute;
            bottom: -2px;
            color: #06067e;
            margin-left: 1px;
            animation: load 1.5s linear infinite;
            display: inline-block;
        }
        @keyframes slide {
            0% {
                transform: translate(var(--sx), var(--sy));
            }
            65% {
                transform: translate(var(--ex), var(--sy));
            }
            95%, 100% {
                transform: translate(var(--ex), var(--ey));
            }
        }
        @keyframes load {
            20% {
                content: ".";
            }
            40% {
                content: "..";
            }
            80%, 100% {
                content: "...";
            }
        }
    </style>
    <div class="isometric">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <h1>Tunggu ya<span>...</span></h1>
  `;

customElements.define(
  "ui-loader",
  class extends HTMLElement {
    constructor() {
      super();
    }
    connectedCallback() {
      this.attachShadow({ mode: "open" });
      this.shadowRoot.innerHTML = template;
    }
  }
);

//ini untuk vue programming
import environtment from "../environment/index";
import axios from "axios";
import { useSound } from "@vueuse/sound";
import buttonSfx from "../assets/sound/button.wav";
import WrongAnswer from "../assets/sound/salah.mp3";
import CorrectAnswer from "../assets/sound/benar.mp3";
import Detik from "../assets/sound/button.mp3";
import ShowResult from "../assets/sound/show-result.mp3";
import Gong from "../assets/sound/gong2.mp3";
import { useStorage } from "vue3-storage";
import { onMounted, inject, ref, reactive } from "vue";
import { useRoute, useRouter } from "vue-router";
import io from "socket.io-client";
import Swal from 'sweetalert2'

import confettiAnimation from '@/assets/confetti.json';

const { play, isPlaying } = useSound(buttonSfx);
const onSound = useSound(buttonSfx, { volume: 1 })
const wrongAnswer = useSound(WrongAnswer);
const showResultsound = useSound(ShowResult);
const correctAnswer = useSound(CorrectAnswer);
const detik = useSound(Detik);
const gong = useSound(Gong);
const socket = io(environtment.socket);
const storage = useStorage();
const router = useRouter();
var timeLeft = 0;
const route = useRoute();
var isLeave = true;
var isFirst = true;
let object = {
  name: storage.getStorageSync("name"),
  nickname: storage.getStorageSync("nickname"),
  code: storage.getStorageSync("code"),
  id_participant: storage.getStorageSync("id_participant"),
  avatar: storage.getStorageSync("avatar"),
  id: storage.getStorageSync("id"),
  phone: storage.getStorageSync("phone_number"),
  email: storage.getStorageSync("email"),
};

const data = reactive({
  url: environtment.urlImg,
  data: [],
  pro_agancy: "",
  name: "",
  nickname: "",
  num: 0,
  email: "",
  tour_id: "",
  phonenumber: "",
  gender: "",
  isEditing: true,
  time: 0,
  question: "",
  urlquest: "",
  currentQuest: 0,
  total: 0,
  choices: [],
  result_quiz: [],
  point: 0,
  pengali: 0,
  isWaitOn: true,
  isQuizOn: false,
  isLeaderBoardOn: false,
  isAnsweredDone: false,
  id_participant: '',
  Category: '',
  questionId: 0,
  bgImage: `url(https://myapps.aio.co.id/img/bg/Pocari.png)`
});

const runTimer = (num) => {
  if (data.isAnsweredDone != true) {
    data.num = num;
    detik.play()
    if (num == 0) {

      axios
        .post(environtment.url + "/api/tour/post-point", {
          point: 0,
          user: data.id_participant,
          tour: data.tour_id,
          nickname: data.nickname,
          question_id: data.questionId
        })
        .then((response) => {
          console.log('ini balikan', response.data);
          storage.setStorageSync("score", response.data.data.point);
          data.point = response.data.data.point
        })
        .catch((error) => {
          console.log(error);
        });

        Swal.fire({
        // icon: "warning",
        title: "Waktu habis 😭",
        timer: 3000,
        showConfirmButton: false,
        // text: "Waktu habis !",
      });
      setTimeout(() => {
        data.isQuizOn = false;
        data.isWaitOn = true;
        data.isLeaderBoardOn = false;
      }, 100);
    }
  }
}

const returnBG = (data) => {
  return 'background-image: url(@/assets/images/bg/SoyJoy1.png);'
}

const answerQ = (jawaban) => {
  data.isAnsweredDone = true;

  console.log(jawaban);
  if (jawaban) {
    console.log("jawaban kamu benar");
    data.point = data.pengali * data.num;
    console.log("point kamu", data.point);
    console.log(data.num);

    //hit API
    axios
      .post(environtment.url + "/api/tour/post-point", {
        point: data.point,
        user: data.id_participant,
        tour: data.tour_id,
        nickname: data.nickname,
        question_id: data.questionId
      })
      .then((response) => {
        console.log('ini balikan', response.data);
        storage.setStorageSync("score", response.data.data.point);
        data.point = response.data.data.point
      })
      .catch((error) => {
        console.log(error);
      });
    correctAnswer.play()
    Swal.fire({
      // icon: "warning",
      title: "Yeey Jawaban kamu benar 😁",
      timer: 3000,
      showConfirmButton: false,
      // text: "Waktu hasis !",
    });
  } else {

    axios
      .post(environtment.url + "/api/tour/post-point", {
        point: 0,
        user: data.id_participant,
        tour: data.tour_id,
        nickname: data.nickname,
        question_id: data.questionId
      })
      .then((response) => {
        console.log('ini balikan', response.data);
        storage.setStorageSync("score", response.data.data.point);
        data.point = response.data.data.point
      })
      .catch((error) => {
        console.log(error);
      });

    console.log("jawaban kamu salah");
    wrongAnswer.play()
    Swal.fire({
      // icon: "warning",
      title: "Jawaban kamu salah 😭",
      timer: 3000,
      showConfirmButton: false,
      // text: "Waktu hasis !",
    });


  }

  setTimeout(() => {
    data.isQuizOn = false;
    data.isWaitOn = true;
    data.isLeaderBoardOn = false;
  }, 2000);
}

const showResult = (dataResult) => {
  showResultsound.play()
  console.log(dataResult);
  data.result_quiz = dataResult.data;
  data.isQuizOn = false;
  data.isWaitOn = false;
  data.isLeaderBoardOn = true;
}

const backToQuiz = (dataBack) => {
  data.isLeaderBoardOn = false;
  data.isQuizOn = false;
  data.isWaitOn = true;
}

const startQuestion = (dataQuestion) => {
  gong.play()
  data.isAnsweredDone = false;
  data.isQuizOn = true;
  data.isWaitOn = false;
  data.isLeaderBoardOn = false;
  console.log('ini data', dataQuestion)
  let result = dataQuestion.data;
  data.time = result.time;
  data.total = result.total;
  data.choices = result.choice;
  data.questionId = result.questionId;

  if (result.Category == 1) {
    data.bgImage = 'url(https://myapps.aio.co.id/img/bg/Pocari.png)'
  } else if (result.Category == 2) {
    data.bgImage = 'url(https://myapps.aio.co.id/img/bg/OronaminC.png)'
  } else if (result.Category == 3) {
    data.bgImage = 'url(https://myapps.aio.co.id/img/bg/IonWater.png)'
  } else if (result.Category == 4) {
    data.bgImage = 'url(https://myapps.aio.co.id/img/bg/SoyJoy1.png)'
  } else if (result.Category == 5) {
    data.bgImage = 'url(https://myapps.aio.co.id/img/bg/Fibemini.png)'
  }

  data.Category = result.Category;

  data.currentQuest = result.currentQuest;
  data.urlquest = result.urlquest;
  data.question = result.question;

  data.pengali = 100 / result.total / result.time;
}

onMounted(() => {
  const socket = io(environtment.socket);
  socket.on("timer-quiz", (msg) => {
    runTimer(msg.timeleft);
  });

  socket.on("startQuestion", (msg) => {
    startQuestion(msg);
  });

  socket.on("selesaiQuiz", (msg) => {

    storage.setStorageSync("isdone", 'yes');
    router.push({ name: "lobby" });
  });


  socket.on("show_result", (msg) => {
    showResult(msg);
  });
  socket.on("backToquiz", (msg) => {
    backToQuiz(msg);
  });


  const storage = useStorage();
  data.pro_agancy = storage.getStorageSync("agancy");
  data.name = storage.getStorageSync("name");
  data.nickname = storage.getStorageSync("nickname");
  data.image_url = storage.getStorageSync("avatar");
  data.tour_id = storage.getStorageSync("id");
  data.phone = storage.getStorageSync("phone_number");
  data.email = storage.getStorageSync("email");
  data.id_participant = storage.getStorageSync("id_participant");
  if (localStorage.getItem('reloaded')) {
    // The page was just reloaded. Clear the value from local storage
    // so that it will reload the next time this page is visited.
    localStorage.removeItem('reloaded');
  } else {
    // Set a flag so that we know not to reload the page twice.
    localStorage.setItem('reloaded', '1');
    // location.reload();
  }
});
</script>
  
<style>
/* leader board */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.luar {
  /* height: auto; */
  min-width: 100%;
  /* min-height: 100%; */
  position: absolute;
  /* height: 700vh; */
  top: 410px;
  /* width: 100%; */
  /* height: 100%; */
  background: #f9f9f9;
  font-family: "Montserrat", sans-serif;
}

.cangkang {
  /* max-width: 590px; */
  position: absolute;
  /* top: 41%; */
  /* height: auto; */
  /* margin: auto; */
  left: 50%;
  transform: translate(-50%, -50%);
}

.cangkang .cangkang__header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #3558db;
  padding: 27px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cangkang .cangkang__header .b_caption p {
  color: #dae0fb;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.cangkang .cangkang__header .b_caption p span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 8px;
}

.cangkang .cangkang__content {
  background: #fff;
  padding: 10px;
}

.cangkang .cangkang__content ul {
  list-style: none;
}

.cangkang .cangkang__content ul li {
  cursor: pointer;
  background: #fefefe;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.1s ease-in-out;
  z-index: 4;
  width: 350px;
}

.cangkang .cangkang__content ul li:hover {
  z-index: 5;
  transform: scale(1.3);
  box-shadow: 0px 0px 16px 13px rgba(0, 0, 0, 0.1);
}

.cangkang .cangkang__content ul li:not(:last-child) {
  margin-bottom: 10px;
}

.cangkang .cangkang__content ul li .graphic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ebeef3;
  overflow: hidden;
  padding: 5px;
}

.cangkang .cangkang__content ul li .graphic img {
  width: 100%;
  border-radius: 50%;
}

.cangkang .cangkang__content ul li .name span {
  vertical-align: middle;
}

.cangkang .cangkang__content ul li .name span.header {
  color: #979cb0;
  font-weight: 700;
  margin-right: 40px;
  vertical-align: middle;
}

.cangkang .cangkang__content ul li .name span.stat {
  color: #35d8ac;
  font-weight: 700;
  font-size: 25px;
}

.cangkang .cangkang__content ul li .name span.sub {
  color: #35d8ac;
  font-weight: 700;
  font-size: 10px;
  vertical-align: sub;
}

ol,
ul {
  padding-left: 0rem;
}

.pertanyaan {
  background-color: white;
  border-radius: 6px;
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  z-index: 99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  } */

.steps {
  /* width: 120px; */
  height: 140px;
  width: auto;
  opacity: 1;
  /* display: none; */
  /* position: absolute; */

  /* padding-top: -110px; */
  /* bottom: 100; */
  /* right: 44%; */
  /* bottom: 53%; */
  /* margin: auto; */
}

.choice {
  border-radius: 24px;
  padding: 9px 18px;
  margin: 0 18px;
  margin-bottom: 12px;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 600;
  background-color: white;
  color: rgba(0, 0, 0, 0.85);
  border: transparent 1px solid;
  margin-top: 10px;
  text-align: left;
  z-index: 999;
}

.choice-wrong {
  border-radius: 24px;
  padding: 9px 18px;
  margin: 0 18px;
  margin-bottom: 12px;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 600;
  background-color: rgb(221, 26, 26);
  color: rgba(0, 0, 0, 0.85);
  border: transparent 1px solid;
  margin-top: 10px;
  text-align: left;
}

.choice-correct {
  border-radius: 24px;
  padding: 9px 18px;
  margin: 0 18px;
  margin-bottom: 12px;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 600;
  background-color: #4caf50;
  color: rgba(0, 0, 0, 0.85);
  border: transparent 1px solid;
  margin-top: 10px;
  text-align: left;
}

.bungkus {
  min-height: 98vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #026cb6; */
  /* background: #019696; */
  /* background-image: url(@/assets/images/bg/Fibemini.png); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
      animation: gradient 15s ease infinite;
      background-size: 400% 400%;
      background-attachment: fixed; */
  /* background: linear-gradient(115deg,  rgba(159, 1, 234, 1), rgba(86, 216, 228, 1) 90%); */
  overflow: hidden;
}

header,
footer {
  padding: 0 10px;
  width: 100%;
  height: 60px;
  position: absolute;
  display: flex;
  align-items: center;
  background: #fff;
  font-weight: bold;
}

header {
  top: 0;
  z-index: 999;
}

header .middle {
  left: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
  background: #f2f2f2;
  padding: 0.75rem 1rem;
  border-radius: 50px;
}

header .right {
  right: 0px;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
  background: #f7b731;
  padding: 0.75rem 0.75rem;
  border-radius: 5px;
}

.arkey {
  width: 350px;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 999;
  margin: auto;
}

header .middle img {
  margin-right: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
}

footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

footer .points {
  padding: 0.6rem 3rem;
  border-radius: 4px;
  color: #fff;
  background: #333;
}

#cube,
#circle {
  max-width: 45vw;
  padding: 30%;
  position: absolute;
  background: #401480;
  z-index: 0;
}

#cube {
  top: -100px;
  left: -50px;
  transform: rotate(45deg);
  z-index: -1;
}

#circle {
  right: -50px;
  bottom: -90px;
  border-radius: 100%;
  z-index: 1;
}

#loader {
  width: 50px;
  height: 50px;
  animation: loader 1s ease-in-out infinite;
}

.loader {
  width: 50px;
  height: 25px;
  overflow: hidden;
}

.loader div {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 15px solid #ffffff;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.content {
  margin-top: -100px;
}

.pilihan {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: -5px;
  text-align: center;
  color: white;
  /* background-color: #46178f; */
  background-color: #3e3e3f;
}
</style>
  