<template>
  <audio autoplay>
    <source src="@/assets/sound/join_quiz.mp3" type="audio/mpeg" />
  </audio>
  <div class="join">
    <div id="environment">
      <div id="content">
        <!-- <div id="awan"></div> -->
        <section id="first"></section>
        <div style="padding-top: 130px" class="form-code">
          <!-- <img src="@/assets/images/quiz.png" /> -->

          <h1 class="fontcus">{{ data.pro_agancy }}</h1>
          <br />

          <input v-model="data.name" @keypress="play" placeholder="Enter Name" type="text" />
          <br />
          <input maxlength="8" v-model="data.nickname" @keypress="play" placeholder="Enter Nickname" type="text" />
          <br />

          <input v-model="data.email" @keypress="play" placeholder="Enter E-mail" type="text" />
          <br />
          <input v-model="data.phonenumber" @keypress="play" placeholder="Enter Phone Number" type="number" />
          <br />
          <select class="budget" v-model="data.gender">
            <option value="" disabled selected>Select your option</option>
            <option value="1">Laki-laki</option>
            <option value="2">Perempuan</option>
          </select>
          <br />
          <!-- <span style="display: inline">
            <input
              style="
              width: 30px;
                display: inline;
                text-align: left;
                border: 2px #989a9b solid;
                margin-left: 0px;
                margin-right: 0px;
                padding-top: 4px;
                padding-right: 0px;
                padding-bottom: 4px;
                padding-left: 6px;
              "
              type="checkbox"
              v-model="isChecked"
            />
            <p style="display: inline; line-height: 5rem;">
              I agree to User Agreement
            </p>
          </span> -->


          <div id="cek">
            <span style="width: 20%;"></span>

            <input style="width: 30px;" type="checkbox" id="myCheckbox" v-model="isChecked">
            <label for="myCheckbox">I agree to </label> <span @click="agree()"
              style="color: dodgerblue; white-space: pre;"> User Agreement</span><span style="width: 20%;"></span>
            <!-- <br> -->
            <!-- <p for="myCheckbox"></p> -->

            <!-- <p>Checkbox status: {{ isChecked }}</p> -->
          </div>

          <!-- <label style="display: inline;">
           
            Check me
          </label> -->

          <br />
          <button @click="play, submit()">Ok, Go !</button>
        </div>
        <section id="second"></section>
        <section id="third"></section>
        <section id="fourth"></section>
      </div>
    </div>
    <div id="scroll-proxy"></div>

    <VueLoading :active="loading" :can-cancel="false" :color="'#0AA94F'" :background-color="'#ffffff'" />
  </div>
</template>

<script setup>
import environtment from "../environment/index";
import axios from "axios";
import { useSound } from "@vueuse/sound";
import buttonSfx from "../assets/sound/button.wav";
import { useStorage } from "vue3-storage";
import { onMounted, inject, ref, onBeforeMount, reactive } from "vue";
import { useRouter } from "vue-router";
import Swal from 'sweetalert2'

const { play, isPlaying } = useSound(buttonSfx);

const router = useRouter();
const storage = useStorage();

const isChecked = ref(false)
const loading = ref(false);

const props = defineProps({
  text: String,
});

const data = reactive({
  data: [],
  pro_agancy: "",
  isChecked: false,
  name: "",
  nickname: "",
  email: "",
  tour_id: "",
  phonenumber: "",
  gender: "",
  isEditing: true,
});

onBeforeMount(() => {
  window.addEventListener("beforeunload", (event) => {
    if (!data.isEditing) return;
    event.preventDefault();
    // Chrome requires returnValue to be set.
    event.returnValue = "";
  });
});

const submit = async () => {
  if (isChecked.value == false) {
    Swal.fire({
      icon: "warning",
      title: "Oops...",
      text: "Check pada user agreement untuk melanjutkan !",
    });
    return;
  }
  if (
    data.name == false ||
    data.nickname == false ||
    data.phonenumber == false ||
    data.gender == false
  ) {
    Swal.fire({
      icon: "warning",
      title: "Oops...",
      text: "Mohon lengkapi form !",
    });
    return;
  }

  loading.value = true

  setTimeout(async () => {
    try {
      console.log(data)
      const response = await axios.post(environtment.url + "/api/tour/sign-quiz", {
        name: data.name,
        nickname: data.nickname,
        email: data.email,
        phonenumber: "0" + data.phonenumber,
        tour_id: data.tour_id,
        gender: data.gender,
      });

      console.log(response.data);
      loading.value = false

      if (response.data.data.length > 0) {
        let data = response.data.data;
        storage.setStorageSync("id_participant", data[0].id);
        storage.setStorageSync("avatar", data[0].avatar);
        storage.setStorageSync("name", data[0].name);
        storage.setStorageSync("nickname", data[0].nickname);
        storage.setStorageSync(
          "phone_number",
          "0" + data[0].phone_number
        );
        storage.setStorageSync("email", data[0].email);
        storage.setStorageSync("score", "0");
        storage.setStorageSync("isdone", "no");

        router.push({ name: "lobby" });
      } else {
        Swal.fire({
          icon: "warning",
          title: "Oops...",
          text: "Gagal Sign In !",
        });
      }
    } catch (error) {
      console.log(error);
      loading.value = false
    };
  }, 2000);
};

onMounted(() => {
  console.log("play dipanggil");
  console.log(isPlaying); // Asumsikan variabel isPlaying tersedia dalam lingkup
  data.pro_agancy = storage.getStorageSync("agancy"),
  data.tour_id = storage.getStorageSync("id")
});
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400&display=swap");

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

#cek {
  display: flex;
  align-items: center;
}

#cek label {
  margin-left: 2px;
}

@media (max-width: 600px) {
  #app label {
    margin-left: 2px;
    /* Sesuaikan margin sesuai kebutuhan pada layar lebih kecil */
  }
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.fontcus {
  font-size: 1.85rem;
  text-align: center;
  font-family: "Lilita One", cursive;
  /* font-weight: 1000; */
  font-weight: bold;
  color: rgb(21, 161, 171);
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/********************
BASE STYLING
********************/

html,
body {
  height: 100%;
}

#content {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  background: #d9fcff;
}

/********************
MAGIC
********************/

#scroll-proxy {
  height: 4000px;
}

#content section {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  background-color: transparent;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#environment {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

#content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#first {
  background-image: url(@/assets/images/landscape/landscape1.svg);
  -webkit-transform: translate3d(0, 0, -11500px) scale(16);
  -moz-transform: translate3d(0, 0, -11500px) scale(16);
  -ms-transform: translate3d(0, 0, -11500px) scale(16);
  -o-transform: translate3d(0, 0, -11500px) scale(16);
  transform: translate3d(0, 0, -11500px) scale(16);
}

#second {
  background-image: url(@/assets/images/landscape/landscape2.svg);
  -webkit-transform: translate3d(0, 0, -24000px) scale(32);
  -moz-transform: translate3d(0, 0, -24000px) scale(32);
  -ms-transform: translate3d(0, 0, -24000px) scale(32);
  -o-transform: translate3d(0, 0, -24000px) scale(32);
  transform: translate3d(0, 0, -24000px) scale(32);
}

#third {
  background-image: url(@/assets/images/landscape/landscape3.svg);
  -webkit-transform: translate3d(0, 0, -48000px) scale(64);
  -moz-transform: translate3d(0, 0, -48000px) scale(64);
  -ms-transform: translate3d(0, 0, -48000px) scale(64);
  -o-transform: translate3d(0, 0, -48000px) scale(64);
  transform: translate3d(0, 0, -48000px) scale(64);
}

#fourth {
  background-image: url(@/assets/images/landscape/landscape4.svg);
  -webkit-transform: translate3d(0, 0, -64000px) scale(128);
  -moz-transform: translate3d(0, 0, -64000px) scale(128);
  -ms-transform: translate3d(0, 0, -64000px) scale(128);
  -o-transform: translate3d(0, 0, -64000px) scale(128);
  transform: translate3d(0, 0, -64000px) scale(128);
}

.create {
  font-size: 14px;
  color: white;
}

.create1 {
  font-size: 13px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

a:hover {
  text-decoration: underline;
}

.createcontainer {
  text-align: center;
}

.createcontainer2 {
  position: fixed;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

input[type="number"] {
  font-size: 1.1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
}

input {
  width: 222px;
  height: 37px;
  border: 2px #989a9b solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 0.3s;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
}

button {
  width: 238px;
  height: 50px;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 0.3s;
  background-color: #333333;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 8px #5c5c5c;
}

button:hover {
  transform: translateY(4px);
  box-shadow: 0 2px #5c5c5c;
}

input:focus {
  border: 2px black solid;
}

img {
  width: 355px;
  /* height:89.9851px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* filter: invert(99%) sepia(95%) saturate(0%) hue-rotate(33deg) brightness(104%) contrast(101%); */
}

input[type="text"] {
  font-size: 1.25rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
}

select {
  font-size: 1.25rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
  /* width: 50%; */

  width: 222px;
  height: 37px;
  border: 2px #989a9b solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 0.3s;
  padding-top: 4px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 6px;
}

select::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #b5b5b5;
}

select:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #b5b5b5;
}

select:-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #b5b5b5;
}

select::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #b5b5b5;
}

input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #b5b5b5;
}

input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #b5b5b5;
}

input:-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #b5b5b5;
}

input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #b5b5b5;
}

input+button {
  margin-top: 8px;
}

#awan {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -99;
  text-align: center;
  margin: 0px;
  padding: 0px;
  /* background-color:#C0DEED; */
  background: url(@/assets/images/awan.png) center top repeat-x;
  padding-top: 100px;
  padding-bottom: 10px;
  width: 100%;
  height: 135px;
  animation: awan-animasi 10s linear infinite;
  -ms-animation: awan-animasi 10s linear infinite;
  -moz-animation: awan-animasi 10s linear infinite;
  -webkit-animation: awan-animasi 10s linear infinite;
}

@keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@-webkit-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@-ms-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@-moz-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}
</style>
